<form action='/login' method="post">
   
    <label>
        Username
        <input type='text' name= 'username'>
    </label>
    <label>
        password
        <input type='password' name= 'password'>
    </label>
    <label>
        Age
        <input type='text' name= 'age'>
    </label>
    <label>
        Favorite Food
        <input type='text' name= 'favoriteFood'>
    </label>
    <input type='submit'>
 </form>


