<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="estilos.css">
    <title>Document</title>
</head>
<body>
        
    <header>
        <div class="portada">
            <h1>My Page</h1>
            <!-- <% es para escribir javaScript en el html, se pode antes y despues de cada linea de javaScript-->
            <% for(i=0; i<5; i++){%>
                    <h2><%=betsy%></h2>
                    <%}%>
                    <% if(betsy){%>
                        <p>yujuu!!!</p>
                        <%}else{%>
                        <p>buuu!</p>
                        <%}%>
        </div>
    </header>
</body>
</html>