<form action='/signup' method="post">
    <input placeholder="tu nombre" type='text' name= 'username'>
    <input placeholder="Tu contraseña" type='password' name='password'>
    <input placeholder="Tu edad" type='text' name='age'>
    <input placeholder="que te gusta comer" type='text' name='favoriteFood'>
    <input type='submit'>
</form>